flows/NR-Cloudant-STMSensorData.json
[
    {
        "id": "71e70902.de1e98",
        "type": "tab",
        "label": "Store Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dc55d79b.46b598",
        "type": "function",
        "z": "71e70902.de1e98",
        "name": "Format Time Series DB record",
        "func": "if( typeof(msg.payload.d.temperature) == 'undefined' ) {\n    return null;\n}\nmsg.payload = {\n            time:     new Date().getTime(),\n            temp:     msg.payload.d.temperature,\n            humidity: msg.payload.d.humidity\n        } ;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "208f5af6.1e8f76",
                "8f1c3652.7eae18"
            ]
        ]
    },
    {
        "id": "208f5af6.1e8f76",
        "type": "debug",
        "z": "71e70902.de1e98",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 510,
        "y": 70,
        "wires": []
    },
    {
        "id": "34dcffc7.5a0e5",
        "type": "ibmiot in",
        "z": "71e70902.de1e98",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "DiscoveryKit",
        "eventType": "status",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": false,
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 70,
        "y": 100,
        "wires": [
            [
                "dc55d79b.46b598"
            ]
        ]
    },
    {
        "id": "8f1c3652.7eae18",
        "type": "cloudant out",
        "z": "71e70902.de1e98",
        "name": "",
        "cloudant": "",
        "database": "historicaldata1",
        "service": "stmicro-discovery-kit-iot-node-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 540,
        "y": 130,
        "wires": []
    }
]
