flows/NRD-HistorianChart-STMSensorData.json
[
    {
        "id": "b3b2788b.fa92f8",
        "type": "tab",
        "label": "Historical Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bb22bead.661d4",
        "type": "debug",
        "z": "b3b2788b.fa92f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "69e5bc5b.6f2564",
        "type": "ui_chart",
        "z": "b3b2788b.fa92f8",
        "name": "",
        "group": "17d8839c.1affbc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "IoT Sensor Historian Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 960,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8a71d6dd.67aa1",
        "type": "function",
        "z": "b3b2788b.fa92f8",
        "name": "Create a Chart Array for Chart.js",
        "func": "// This function reformats the timeseries data into an array that \n// Chart.js (See http://www.chartjs.org/ ) will plot\n// The node-red-dashboard Chart node uses Chart.js \n\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"Data\"],\n                   \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].temp}]],\n                   \"labels\":[\"Data\"]}];\n\n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.length; i++ ) {\n    ChartData[0].data[0].push( { \"x\":msg.payload[i].time,\"y\":msg.payload[i].temp } );\n}\n// Now we need to sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = ChartData;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "69e5bc5b.6f2564",
                "bb22bead.661d4"
            ]
        ]
    },
    {
        "id": "12261786.5e11b",
        "type": "cloudant in",
        "z": "b3b2788b.fa92f8",
        "name": "",
        "cloudant": "",
        "database": "historicaldata1",
        "service": "stmicro-discovery-kit-iot-node-cloudantNoSQLDB",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 370,
        "y": 60,
        "wires": [
            [
                "3a2bfdec.565cc2",
                "8a71d6dd.67aa1"
            ]
        ]
    },
    {
        "id": "3a2bfdec.565cc2",
        "type": "debug",
        "z": "b3b2788b.fa92f8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "f573ea28.a59b18",
        "type": "ui_button",
        "z": "b3b2788b.fa92f8",
        "name": "",
        "group": "57bb7cda.ccd564",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load IoT Sensor Data",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "12261786.5e11b"
            ]
        ]
    },
    {
        "id": "17d8839c.1affbc",
        "type": "ui_group",
        "z": "",
        "name": "Historical Data",
        "tab": "6729fcb7.37be04",
        "order": 1,
        "disp": true,
        "width": "18"
    },
    {
        "id": "57bb7cda.ccd564",
        "type": "ui_group",
        "z": "",
        "name": "Chart Controls",
        "tab": "6729fcb7.37be04",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "6729fcb7.37be04",
        "type": "ui_tab",
        "z": "",
        "name": "Historical Data",
        "icon": "fa-area-chart",
        "order": 5
    }
]
