flows/NRD-Charts-STMSensorData.json
[
    {
        "id": "6b73c2e5.96fc4c",
        "type": "tab",
        "label": "Chart Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e61d7807.20aac8",
        "type": "tab",
        "label": "Dashboard Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f828d7eb.899ab8",
        "type": "tab",
        "label": "Plot STM Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f38f048b.b80518",
        "type": "ui_tab",
        "z": "e61d7807.20aac8",
        "name": "Introduction",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "a0ddebfd.aaa1d",
        "type": "ui_group",
        "z": "",
        "name": "Line Chart Examples",
        "tab": "26ea978d.4cef78",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "26ea978d.4cef78",
        "type": "ui_tab",
        "z": "",
        "name": "Chart Examples",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a1e26bfa.0fdf48",
        "type": "ui_group",
        "z": "",
        "name": "Pie Chart Examples",
        "tab": "26ea978d.4cef78",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e466d459.7c5a",
        "type": "ui_group",
        "z": "",
        "name": "Bar Chart Examples",
        "tab": "26ea978d.4cef78",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8044ca01.afd2c8",
        "type": "ui_group",
        "z": "",
        "name": "Start / Stop",
        "tab": "f38f048b.b80518",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "200ffc2.4a43704",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard Controls",
        "tab": "f38f048b.b80518",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "80d75706.14e7d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ee7881.e0f8778",
        "type": "ui_tab",
        "z": "",
        "name": "Discovery Kit Workshop",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "8e13d0e8.99c598",
        "type": "ui_group",
        "z": "",
        "name": "Discovery Kit Sensors",
        "tab": "9ee7881.e0f8778",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "633bae1e.008508",
        "type": "inject",
        "z": "e61d7807.20aac8",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "c58c5119.827ab"
            ]
        ]
    },
    {
        "id": "c15ea1c5.969918",
        "type": "function",
        "z": "e61d7807.20aac8",
        "name": "Random #s",
        "func": "if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "5a6a66f1.d94"
            ]
        ]
    },
    {
        "id": "dbc47c80.0aca78",
        "type": "inject",
        "z": "e61d7807.20aac8",
        "name": "Instructions",
        "topic": "",
        "payload": "Use the toggle switch to start / stop the generation of random numbers",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "2de29a96.96fa9e"
            ]
        ]
    },
    {
        "id": "cabb99c8.0cf92",
        "type": "switch",
        "z": "e61d7807.20aac8",
        "name": "Warn on High Values",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "15f77c6.442f884"
            ]
        ]
    },
    {
        "id": "15f77c6.442f884",
        "type": "template",
        "z": "e61d7807.20aac8",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload}}",
        "output": "str",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "e8dd4642.285678"
            ]
        ]
    },
    {
        "id": "5a6a66f1.d94",
        "type": "link out",
        "z": "e61d7807.20aac8",
        "name": "",
        "links": [
            "fc9c2af3.67052"
        ],
        "x": 555,
        "y": 140,
        "wires": []
    },
    {
        "id": "fc9c2af3.67052",
        "type": "link in",
        "z": "e61d7807.20aac8",
        "name": "",
        "links": [
            "5a6a66f1.d94"
        ],
        "x": 95,
        "y": 360,
        "wires": [
            [
                "d08893cd.a4efd8",
                "30763357.5cb88c",
                "3d85e801.ded8b",
                "d6f8c87e.c71268",
                "cabb99c8.0cf92"
            ]
        ]
    },
    {
        "id": "9993e761.95d168",
        "type": "ibmiot in",
        "z": "f828d7eb.899ab8",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "",
        "applicationId": "",
        "deviceType": "DiscoveryKit",
        "eventType": "status",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": false,
        "allLogicalInterfaces": false,
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "55fabe72.639fb",
                "2e377b48.0320ec",
                "21b74c41.bfb984",
                "8fdfcff6.9904b"
            ]
        ]
    },
    {
        "id": "55fabe72.639fb",
        "type": "debug",
        "z": "f828d7eb.899ab8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 270,
        "y": 110,
        "wires": []
    },
    {
        "id": "2e377b48.0320ec",
        "type": "change",
        "z": "f828d7eb.899ab8",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "47c099e.6642268"
            ]
        ]
    },
    {
        "id": "21b74c41.bfb984",
        "type": "change",
        "z": "f828d7eb.899ab8",
        "name": "Chart Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 200,
        "wires": [
            [
                "f2827b9e.82b4f"
            ]
        ]
    },
    {
        "id": "8fdfcff6.9904b",
        "type": "switch",
        "z": "f828d7eb.899ab8",
        "name": "Warn on High Values",
        "property": "payload.d.temperature",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 300,
        "y": 250,
        "wires": [
            [
                "8d1cab0d.c8c8d8"
            ]
        ]
    },
    {
        "id": "8d1cab0d.c8c8d8",
        "type": "template",
        "z": "f828d7eb.899ab8",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload.d.temperature}}",
        "output": "str",
        "x": 490,
        "y": 250,
        "wires": [
            [
                "b6ee00eb.2ecce8"
            ]
        ]
    },
    {
        "id": "d93630d8.224ca8",
        "type": "function",
        "z": "6b73c2e5.96fc4c",
        "name": "Fill Single Chart Array",
        "func": "var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},\n             {\"x\":1504029633514,\"y\":8},\n             {\"x\":1504029634400,\"y\":3}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "4c975bd.979f9a4",
                "34771dea.aa7c6a"
            ]
        ]
    },
    {
        "id": "34771dea.aa7c6a",
        "type": "debug",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "64b66095.d7b6f8",
        "type": "comment",
        "z": "6b73c2e5.96fc4c",
        "name": "Sample Dashboard that plots various Chart types",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "4a8c9f5c.5425b8",
        "type": "function",
        "z": "6b73c2e5.96fc4c",
        "name": "Fill Multiple Line Chart Array",
        "func": "var chart = [  {\"series\":[\"A\",\"B\",\"C\"],\n                \"data\":[\n                    [{\"x\":1504029632890,\"y\":5},\n                     {\"x\":1504029636001,\"y\":4},\n                     {\"x\":1504029638656,\"y\":2}],\n                    [{\"x\":1504029633514,\"y\":6},\n                     {\"x\":1504029636622,\"y\":7},\n                     {\"x\":1504029639539,\"y\":6}],\n                    [{\"x\":1504029634400,\"y\":7},\n                     {\"x\":1504029637959,\"y\":9},\n                     {\"x\":1504029640317,\"y\":7}]\n                ],\n                \"labels\":[\"\"]}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "21aded9b.7f430a",
                "f61eeb50.ddb61"
            ]
        ]
    },
    {
        "id": "f61eeb50.ddb61",
        "type": "debug",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "87b4c5ee.0cffc8",
        "type": "inject",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "d93630d8.224ca8"
            ]
        ]
    },
    {
        "id": "cf6fafbe.b919a",
        "type": "inject",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "4a8c9f5c.5425b8"
            ]
        ]
    },
    {
        "id": "33be7466.9c070c",
        "type": "inject",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "a0e48e38.8bcde8"
            ]
        ]
    },
    {
        "id": "a0e48e38.8bcde8",
        "type": "function",
        "z": "6b73c2e5.96fc4c",
        "name": "Fill Bar Chart Array",
        "func": "var bar={};\nbar.labels = [\"Q1 16\",\"Q2 16\",\"Q3 16\",\"Q4 16\",\"Q1 17\",\"Q2 17\",\"Q3 17\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[bar]};",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "d47213cb.1f393",
                "39f447ce.96d028",
                "b5af5516.4bd188"
            ]
        ]
    },
    {
        "id": "39f447ce.96d028",
        "type": "debug",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "b8c3108b.b4752",
        "type": "function",
        "z": "6b73c2e5.96fc4c",
        "name": "Fill Pie Chart Array",
        "func": "var pie={};\npie.labels = [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"];\npie.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\npie.data =   [ [16, 27, 42, 65, 89] ];\n//return {payload:[pie]};\n\nvar pie={ \"labels\" : [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"],\n          \"series\" : ['Sales A', 'Sales B', 'Sales C', 'Sales D'],\n          \"data\"   : [ [16, 27, 42, 65, 89] ]\n        };\nmsg.payload = [pie];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "e40626ec.1591d",
                "9df19fa6.223e2",
                "96030127.4b5a28",
                "4b2e23f5.10c4fc",
                "4dcf5695.aee3b8"
            ]
        ]
    },
    {
        "id": "8d717502.bd1968",
        "type": "inject",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "b8c3108b.b4752"
            ]
        ]
    },
    {
        "id": "9df19fa6.223e2",
        "type": "debug",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "c58c5119.827ab",
        "type": "ui_switch",
        "z": "e61d7807.20aac8",
        "name": "",
        "label": "Switch",
        "group": "8044ca01.afd2c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "c15ea1c5.969918"
            ]
        ]
    },
    {
        "id": "3d85e801.ded8b",
        "type": "ui_slider",
        "z": "e61d7807.20aac8",
        "name": "",
        "label": "Slider",
        "group": "200ffc2.4a43704",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "",
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "d6f8c87e.c71268",
        "type": "ui_text",
        "z": "e61d7807.20aac8",
        "group": "200ffc2.4a43704",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "2de29a96.96fa9e",
        "type": "ui_text",
        "z": "e61d7807.20aac8",
        "group": "8044ca01.afd2c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "30763357.5cb88c",
        "type": "ui_gauge",
        "z": "e61d7807.20aac8",
        "name": "Gauge",
        "group": "200ffc2.4a43704",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "d08893cd.a4efd8",
        "type": "ui_chart",
        "z": "e61d7807.20aac8",
        "name": "Chart",
        "group": "200ffc2.4a43704",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Random #",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Querying Entropy",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "x": 350,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "47c099e.6642268",
        "type": "ui_chart",
        "z": "f828d7eb.899ab8",
        "name": "",
        "group": "8e13d0e8.99c598",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Discovery Kit Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 500,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f2827b9e.82b4f",
        "type": "ui_chart",
        "z": "f828d7eb.899ab8",
        "name": "",
        "group": "8e13d0e8.99c598",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Discovery Kit Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 510,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4c975bd.979f9a4",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "a0ddebfd.aaa1d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Single Line Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "21aded9b.7f430a",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "a0ddebfd.aaa1d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Multiple Line Plots",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 610,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d47213cb.1f393",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "e466d459.7c5a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Vertical Bar Chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 610,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b5af5516.4bd188",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "e466d459.7c5a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Horizontal Bar Chart",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 619.0908813476562,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e40626ec.1591d",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "a1e26bfa.0fdf48",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pie Chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 580,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "96030127.4b5a28",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "a1e26bfa.0fdf48",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Polar Area Chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 610,
        "y": 400.9090881347656,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4dcf5695.aee3b8",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "a1e26bfa.0fdf48",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Radar Chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4b2e23f5.10c4fc",
        "type": "ui_chart",
        "z": "6b73c2e5.96fc4c",
        "name": "",
        "group": "a1e26bfa.0fdf48",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Donut Chart",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "40",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e8dd4642.285678",
        "type": "ui_toast",
        "z": "e61d7807.20aac8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "b6ee00eb.2ecce8",
        "type": "ui_toast",
        "z": "f828d7eb.899ab8",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 680,
        "y": 250,
        "wires": []
    }
]
